
body{
  background-color: #CDF0EA;
}

hr{
  border-style: none ;
  border-top: dotted;
  border-width: 5px;
  width: 5%;
  border-color: grey;
}

h1{
  color: grey;
}

h3{
  color: grey;
}
